* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --agrogreen: #2ffc9c;
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    letter-spacing: 4px;
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    line-height: 115%;
    color: white;
}

p{
    width: 60%;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
    line-height: 130%;
    font-weight: 100;
}

nav{
    z-index: 1;
    position: fixed;
    width: 50%;
    height: 6.5vh;
    margin-top: 0.75%;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav a{
    font-family: 'Jost', 'sans-serif';
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    color: white;
    transition: .5s;
}

nav a:hover{
    text-decoration: dotted;
    color: var(--agrogreen);
}

.btn{
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    border: 1.5px solid white;
    background-color: black;
    border-radius: 120px;
    color: white;
    margin-top: 1%;
    padding: 12px 55px;
    transition: .7s;
}

.btn:hover{
    background-color: white;
    color: #000000;
}

.plus{
    color: #ffffff; 
    font-size: 60px;
    transition: .5s;
}

.plus:hover{
    color: var(--agrogreen);
    transform: scale(1.1);
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    width: 60%;
    height: 80%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.box-tecnologia{
    height:43%; 
    width: 100%; 
    margin-top: 4%;
    display: flex; 
    justify-content: space-between; 
    flex-direction: row; 
    align-items: center;
}

.box-img{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.box-img img{
    max-width: 100%;
    transform: translateY(-32%);
    position: relative;
}

.circle {
    aspect-ratio: 1/1;
    height: 65%;
    background-color: #ffffff;
    border-radius: 100%;
    transition: .6s;
  }
  
.circle img{
    transform: translateY(-15%) translateX(-10%);
    max-height: 120%;
    max-width: 120%;
}

.circle:hover{
    height: 70%;
}

.box-beneficios{
    width: 65%;
    height: 28%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.box-beneficios h1{
    width: 75%;
    font-size: 32px;
    font-weight: 400;
}

.box-integrante{
    height: 75%;
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1%;
}

.frame{
    height: 50%;
    width: 57%;
    background-color: white;
    overflow: hidden;
    border-radius: 3px;
    border: 2px solid white;
    transition: .5s;
    margin-bottom: 5%;
}

.frame img{
    max-height: 100%;
    min-width: 100%;
}

.frame:hover{
    transform: scale(1.05);
}

.box-integrante h1{
    font-size: 30px;
}

.box-integrante p{
    font-size: 25px;
}



.secao1 img{
    width: auto;
    height: auto;
    max-width: 480px;
    margin-bottom: 3%;
}

.secao2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secao2 img{
    margin-bottom: 3%;
}

.secao2 p{
    width: 70%;
    font-size: 30px;
}

.secao2 h1{
    margin-top: 8px;
    width: 70%;
    font-size: 44px;
}

.secao3{
    margin-top: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    align-items: end;
    padding-right: 5%;
    padding-bottom: 1%;
    gap: 10%;
}

.secao3 h1{
    font-size: 50px;
    text-align: right;
    color: #000000;
}

.secao3 p{
    font-size: 25px;
    width: 75%;
    text-align: right;
    color: #000000;
    font-weight: 400;
}

.secao4{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao5{
    width: 90%;
    height: 82%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.title-beneficios{
    margin-left: 7%; 
    margin-top: 7%;
    font-size: 30px;
    font-weight: 400;
}

.title-beneficios span{
    color: var(--agrogreen);
}

.font-logo{
    font-family: 'Encode Sans Condensed', 'sans-serif';
    font-weight: 500;
}

.bg-main{
    background-image: radial-gradient(68.96% 68.96% at 50.83% 21.95%, rgba(0, 0, 0, 0.486) 0%, #000000 100%), url(../images/bg-main.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 40%;
}


.bg-dark{
    background-color: black;
}

.arrow:hover{
    animation: arrow 1s infinite;
}

.footer-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: black;
    gap: 15%;
    padding-bottom: 2px;
    padding-right: 5%;
}


footer span{
    font-weight: 100;
    font-family: 'Outfit', 'sans-serif';
    color: white;
    font-size: 20px;
}


@keyframes arrow{
    50%{
        transform: translateY(8px);
    }

    100%{
        transform: translateY(0px);
    }
}

